/* color */
$blue: #226EE2;
$green: #198754;
$orange: #F57F17;
$red: #D12222;

$dark-50: #F8F6FB;
$dark-100:#F2EEF6;
$dark-150: #E7E3EE;
$dark-200: #CCC2DC;
$dark-250: #B0A7C0;
$dark-300: #958DA5;
$dark-350: #7B738B;
$dark-400: #625B71;
$dark-450: #4A4459;
$dark-500: #332D41;
$dark-550: #1E192B;
$dark-600: #201B20;

/* typography */

/* Display Large */
$display-large-size: 57px;
$display-large-line-height: 64px;
$display-large-letter-spacing: -0.25px;

/* Display Medium */
$display-medium-size: 45px;
$display-medium-line-height: 52px;

/* Display Small */
$display-small-size: 36px;
$display-small-line-height: 44px;


/* Headline Large */
$headline-large-size: 32px;
$headline-large-line-height: 40px;

/* Headline Medium */
$headline-medium-size: 28px;
$headline-medium-line-height: 36px;

/* Headline Small */
$headline-small-size: 24px;
$headline-small-line-height: 32px;


/* Title Large */
$title-large-size: 22px;
$title-large-line-height: 28px;

/* Title Medium */
$title-medium-size: 16px;
$title-medium-line-height: 24px;
$title-medium-letter-spacing: 0.15px;

/* Title Small */
$title-small-size: 14px;
$title-small-line-height: 20px;
$title-small-letter-spacing: 0.1px;


/* Label Large */
$label-large-size: 14px;
$label-large-line-height: 20px;
$label-large-letter-spacing: 0.1px;

/* Label Medium */
$label-medium-size: 12px;
$label-medium-line-height: 16px;
$label-medium-letter-spacing: 0.5px;

/* Label Small */
$label-small-size: 11px;
$label-small-line-height: 16px;
$label-small-letter-spacing: 0.5px;


/* Body Bold Large */
$body-large-size: 16px;
$body-large-line-height: 24px;
$body-large-letter-spacing: 0.5px;

/* Body Large */
$body-large-size: 16px;
$body-large-line-height: 24px;
$body-large-letter-spacing: 0.5px;

/* Body Medium */
$body-medium-size: 14px;
$body-medium-line-height: 20px;
$body-medium-letter-spacing: 0.25px;

/* Body Small */
$body-small-size: 12px;
$body-small-line-height: 16px;
$body-small-letter-spacing: 0.4px;